body{
    background-image: url(https://images.pexels.com/photos/302428/pexels-photo-302428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.content{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: -42%;
    margin: -135px;
    text-decoration: none;
  
}


.content n{
    
    text-align: center;
    
   
  

}